// Normally mainpage styles

//CONTENT

.content
	width: 668px
	margin-top: 34px	

	.content__block
		border: 1px solid #c7c7c7
		margin-bottom: 32px
		background: #ececec

		.content__quote
			background: #f5f5f5			
			height: 165px
			position: relative
			padding-top: 27px
			
			img
				float: left
				position: absolute
				bottom: 0px
				left: 18px

			span
				+OpenSansSB			
				font-size: 14px
				text-transform: uppercase
				margin-left: 170px

			p				
				+OpenSansL
				width: 350px
				margin-left: 257px
				color: #000
				font-size: 16px
				margin-top: 30px
				position: relative				

			p:before
				content: ' '
				+s(quotes)
				position: absolute
				top: -1px
				left: -40px

			a
				position: absolute
				right: 53px
				bottom: 17px
				color: #696969
				font-size: 14px
				border-bottom: 1px dashed #696969
				+OpenSansL

			a:hover
				color: #000

		.content__advice			
			padding: 38px 40px 40px 122px
			+OpenSans

			span				
				font-weight: bold			
				font-size: 16px
				color: #010101
				position: relative

			span:before
				content: ' '
				+s(advice)
				position: absolute
				top: 0px
				left: -84px

			p
				font-size: 14px
				color: #000
				margin-top: 5px				

		.content__NewYear
			background: #f5f5f5
			position: relative
			padding-top: 27px			
			padding-left: 125px
			+OpenSans
			font-size: 30px
			
			img
				float: left
				position: absolute
				top: -14px
				left: 25px

		.content__propose
			background: #f5f5f5
			padding: 12px 52px 30px

			p				
				+OpenSansL
				font-size: 16px
				margin-left: 34px
				margin-top: 30px
				color: #000
				position: relative

			p:before
				content: ' '
				+s(arrow_propose)
				position: absolute
				left: -32px				

		.content__detail
			height: 66px
			position: relative
			padding-top: 40px						

			.detail				
				+OpenSansL
				font-size: 16px
				margin-left: 33px
				float: left				

			.count
				width: 40px
				height: 22px
				border: 1px solid #8e8e8e
				background: #f4f4f4
				font-size: 14px				
				padding-left: 10px
				padding-top: 4px				
				margin-left: 295px
				position: relative
				top: -2px				
				
			.count:after
				content: ' '
				+s(count)
				position: absolute
				top: 6px
				right: 8px

			.counter
				position: absolute
				top: 23px
				left: 363px

			.order
				padding: 12px 18px
				background: #6f9645
				+OpenSansSB
				color: #fff
				font-size: 16px
				position: absolute
				right: 20px
				top: 30px

			.order:hover
				background: #587a33

	.menu
		margin-top: 40px
		padding-left: 10px
		padding-right: 10px		

		.menu__header
			text-align: center
			+OpenSansL
			font-size: 24px
			color: #000

		.menu__type
			margin-top: 90px
			text-transform: uppercase			
			position: relative			

			li
				display: inline-block
				margin: 0 14px

			li:hover > ul
				display: block

			.menu__item
				+OpenSans
				font-size: 16px
				color: #616161				
			
			.menu__baseg
				+png(icons/base)
				background-position: 50% 0
				padding: 40px 9px 5px				
			
			.menu__baseg:hover
				+png(icons/base_hover)
				background-position: 50% 0				
				color: #080808

			.menu__baseb
				+png(icons/base-blue)
				background-position: 50% 0
				padding: 40px 9px 5px
				color: #4277ad
				border-bottom: 2px solid #4277ad

			.menu__wineg
				padding: 40px 9px 5px
				+png(icons/wine)
				background-position: 50% 0

			.menu__winer
				padding: 40px 9px 5px
				+png(icons/wine-red)
				background-position: 50% 0
				color: #b24242
				border-bottom: 2px solid #b24242

			.menu__wineg:hover				
				color: #080808
				+png(icons/wine_hover)
				background-position: 50% 0

			.menu__winered				
				padding: 40px 9px 5px
				+png(icons/wine)
				background-position: 50% 0

			.menu__other				
				display: block
				max-width: 120px
				position: relative

				.icon-other:after
					content: ''
					+s(other)					
					position: absolute
					bottom: 6px
					right: -22px
			
			.menu__other:hover
				color: #080808				

			.menu__other:hover .icon-other:after
				content: ''
				+s(other_hover)					
				position: absolute
				bottom: 6px
				right: -22px

			.other
				position: absolute
				right: 0px
				bottom: -165px
				text-align: right
				background: #f0f0f0
				width: 310px
				height: 157px
				z-index: 500
				padding-right: 105px
				padding-top: 10px
				display: none

				li
					display: block
					margin-top: 12px

					a
						+OpenSans
						font-size: 16px
						color: #616161

					a:hover
						color: #473535			

		.menu__article
			margin-top: 6px
			margin-bottom: 20px
			padding-bottom: 16px
			border-top: 1px solid #aaaaaa
			border-bottom: 1px solid #aaaaaa

			.menu__title
				+OpenSansI
				font-style: italic
				font-size: 18px
				text-align: center
				margin-top: 38px
				margin-bottom: 26px

			.menu__pos
				border-bottom: 1px dashed #aaaaaa
				margin-bottom: 34px
				padding-top: 10px
				position: relative

				.menu__container
					width: 520px					

					span					
						background: #e3e3e3					
						bottom: -5px

					.dish
						+OpenSans
						font-size: 14px
						position: relative
						line-height: 12px												

					.weight
						color: #717171
						+OpenSans
						font-size: 12px
						padding: 0 5px 0 5px
						position: absolute						
						line-height: normal
													
					.price					
						+OpenSansL
						font-size: 14px
						padding-left: 5px
						position: absolute
						right: 0px						

		.menu__all
			+OpenSansL
			font-size: 14px
			border-bottom: 1px dashed #aaaaaa
			margin-left: 250px
			color: #6f6f6f

		.menu__all:hover
			color: #000

	.comments
		margin-top: 120px
		position: relative	
		
		.comments__header
			+OpenSansL
			font-size: 24px
			text-align: center
			position: relative
			margin-bottom: 20px

			a
				position: absolute
				top: 9px
				right: 0px
				font-size: 14px
				color: #6f6f6f
				border-bottom: 1px dashed #aaaaaa

			a:hover
				color: #000

			a:hover + p
				display: block

			p
				display: none
				font-size: 14px
				+OpenSansL
				color: #0f0f0f
				width: 265px
				padding: 18px 15px
				text-align: left
				background: #f3f3f3
				position: absolute
				top: -80px
				right: -220px
				border-radius: 2px

			p:after
				content: ' '
				+s(arrow_hint)
				position: absolute
				bottom: -15px
				left: 26px

		.comments__header:before
			content: ' '
			position: absolute
			+s(decor)
			top: -60px
			left: 305px

		.comments__block:before
			content: ' '
			position: absolute
			+s(arrow_comments)
			top: -16px
			left: 318px
		
		.comments__block
			background: #f5f5f5
			padding: 0px 20px
			border: 1px solid #d2d2d2
			position: relative			

			.guest
				padding-top: 22px

				img
					float: left
					margin-right: 13px

				.guest__metadata
					margin-bottom: 20px

					.name
						+OpenSans
						font-weight: bold
						font-size: 16px
						color: #101010
						position: relative

					.is-plus:after
						content: ' '
						+s(like_plus)
						position: absolute
						top: 2px
						right: -26px

					.is-minus:after
						content: ' '
						+s(like_minus)
						position: absolute
						top: 8px
						right: -26px

					.visit
						+OpenSansL
						font-size: 14px
						color: #101010

				.guest__comment
					clear: both
					+OpenSansL
					font-size: 15px
					color: #000
					padding-bottom: 22px		

		#next_comm
			+s(next_slide_comm)
			display: block
			position: absolute
			top: 230px
			right: -35px

		#next_comm:hover
			+s(next_slide_comm_hover)

		#prev_comm
			+s(prev_slide_comm)
			display: block
			position: absolute
			top: 230px
			left: -35px

		#prev_comm:hover
			+s(prev_slide_comm_hover)

.employees
	width: 930px
	height: 160px
	overflow: hidden
	margin: 0 auto	
	margin-top: 40px
	margin-bottom: 40px

	.employee		
	
		img
			float: left
			margin-right: 32px

		.employee__info
			padding-top: 10px			

			.profession
				+OpenSansSB
				font-size: 16px
				color: #212121				

				a
					color: #3d74c5
					text-decoration: underline

				a:hover
					text-decoration: none					

			p
				+OpenSansL
				font-weight: 100
				margin-top: 10px
				font-size: 30px
				color: #212121
				line-height: 40px		

.restaurants
	float: right
	width: 670px
	margin-bottom: 25px	

	.restaurant
		width: 313px
		border: 1px solid #d5d3d7
		background: #fff
		+geinsp
		display: inline-block
		vertical-align: top
		margin-left: 18px
		position: relative
		margin-bottom: 22px

		.restaurant__info		
			padding: 14px 17px 0 17px

			.restaurant__header
				margin-bottom: 15px				

				a
					font-size: 23px
					color: #000
					margin-bottom: 10px
					display: inline-block
					width: 210px
					margin-top: 4px
					line-height: 25px

				a:hover
					color: #a84027

				span
					float: right
					font-size: 16px
					color: #727272
					margin-top: 7px
					position: relative

				span:before
					content: ' '
					+s(rest_like)
					position: absolute
					left: -24px

			img
				float: left
				margin-right: 18px

			p
				font-size: 15px
				color: #858585
				overflow: hidden
				height: 115px				

			.restaurant_point
				clear: both
				margin: 10px 0px
				padding-left: 20px
				padding-top: 10px
				font-size: 14px
				color: #858585
				position: relative
				border-top: 1px solid #e7e7e7

			.restaurant_point:before
				content: ' '
				+s(point_address)
				position: absolute
				top: 11px
				left: 0px

		.ribbon-red
			+s(ribbon_red)
			+geinsp
			color: #fff
			font-weight: 600
			font-size: 17.5px
			padding-top: 5px
			text-align: center
			position: absolute
			top: 8px
			right: -14px
			padding-left: 8px
			text-shadow: 1px 1px 2px #891b00

		.ribbon-yellow
			+s(ribbon_yellow)
			+geinsp
			color: #fff	
			font-weight: 600
			font-size: 17px
			padding-top: 5px
			text-align: center
			position: absolute
			top: 8px
			right: -14px
			padding-left: 8px
			text-shadow: 1px 1px 2px #b16d00
			letter-spacing: 0.8px

	.read_more
		+geinsp
		font-size: 16px
		padding-bottom: 3px
		border-bottom: 1px dashed #aeaeae
		color: #5a5a5a
		margin-left: 290px

	.read_more:hover
		color: #000

.sliderfamous
	clear: both
	width: 1135px
	margin: 0 auto
	border-top: 1px solid #c7c9ca
	padding-top: 30px
	+OpenSans
	position: relative
	height: 280px		

	.sliderfamous__header
		text-align: center		
		font-size: 24px
		color: #212121
		margin-bottom: 40px

	.slideshow
		text-align: center		
		margin: 0 auto
		padding-left: 5px
		padding-right: 5px		
	
	.famous		
		vertical-align: top
		text-align: center
		padding-right: 15px		
		padding-left: 15px
		width: 150px		
		height: 220px
		white-space: normal			

		img
			margin-bottom: 10px			

		a						
			font-size: 14px
			color: #212022			

		a:hover
			clear: both
			text-decoration: underline			
			
	#prev_famous		
		display: block
		+s(prev_slide_comm)
		position: absolute
		top: 150px
		left: 60px

	#prev_famous:hover
		+s(prev_slide_comm_hover)

	#next_famous		
		display: block
		+s(next_slide_comm)		
		position: absolute
		top: 150px
		right: 60px

	#next_famous:hover
		+s(next_slide_comm_hover)

.public
	width: 1000px	
	padding: 15px 64px 30px 64px
	margin: 0 auto 
	text-align: center
	margin-top: 30px
	margin-bottom: 40px
	+OpenSans
	color: #212121
	font-size: 20px	
	border-bottom: 1px solid #d1cdcf

	img
		margin-bottom: 23px

	h3
		font-size: 30px		
		margin-bottom: 24px

	p
		padding-left: 46px
		padding-right: 46px
		+OpenSansL		
		line-height: 25px
		margin-bottom: 40px

	span
		position: relative		
		margin-left: 70px

	span:before
		content: ' '
		+s(selectgettable)
		position: absolute
		top: -10px
		left: -70px

	.steak
		position: relative		
		margin-left: 70px
		margin-right: 15px

	.steak:before
		content: ' '
		+s(steak)
		position: absolute
		top: -12px
		left: -55px

	.public__select
		color: #000
		border-bottom: 1px dashed #212121

	.public__select:hover
		border: none
		color: #000

	a
		color: #5484ca
		border-bottom: 1px dashed #5484ca
		padding-bottom: 2px
		margin-right: 15px

	a:hover
		border: none
		color: #2a5087

.nofind
	text-align: center	
	padding-bottom: 35px

	img
		margin-bottom: 20px

	p
		+OpenSansL
		font-size: 24px		

.tenplace
	width: 1067px
	margin: 0 auto
	border-bottom: 1px solid #c7c9ca
	overflow: hidden	
	margin-bottom: 38px	
	padding: 0px 34px 0px 34px	

	img		
		float: left
		margin-right: 30px		

	.tenplace__info
		padding-top: 22px
		color: #212121		

		h3
			+OpenSans
			font-size: 30px			
			margin-bottom: 30px

		p
			+OpenSansL
			font-size: 20px
			margin-bottom: 23px
			line-height: 25px

.nearmetro
	width: 1135px
	margin: 0 auto
	border-bottom: 1px solid #c7c9ca
	overflow: hidden
	margin-top: -6px	
	padding-bottom: 36px
	margin-bottom: 38px

	img		
		float: left
		margin-right: 50px
		margin-left: 180px

	.nearmetro__info		
		color: #212121		

		h3
			+OpenSans
			font-size: 30px			

		p
			+OpenSansL
			font-size: 20px
			margin-top: 18px
			line-height: 25px