.widget__about
	+OpenSans
	font-size: 14px

	div
		margin-left: 50px
		margin-bottom: 23px
		position: relative

	.check:before
		position: absolute
		content: ' '
		+s(check)
		top: -3px
		left: -38px

	.worktoday:before
		position: absolute
		content: ' '
		+s(worktoday)
		top: -1px
		left: -38px

	.point:before
		position: absolute
		content: ' '
		+s(point)
		top: -1px
		left: -38px

	.usphone:before
		position: absolute
		content: ' '
		+s(usphone)
		top: 0px
		left: -38px