.widget-counter	

	a
		display: block		

	.counter-up		
		+s(widget-count-up)		

	.counter-up:hover
		+s(widget-count-up-hover)

	.counter-down
		+s(widget-count-down)		

	.counter-down:hover
		+s(widget-count-down-hover)

#calendar, .calendar
	width: 295px
	position: absolute
	top: 60px
	left: 0px
	z-index: 500
	display: none

	.calendar__inner
		background: #f5f5f5
		padding: 26px 0px 15px
		position: relative

		.calendar__date
			+OpenSansB
			font-size: 14px
			color: #000
			text-align: center

		.calendar__prev
			position: absolute
			display: block
			+s(calendar_prev)
			top: 31px
			left: 40px

		.calendar__next
			position: absolute
			display: block
			+s(calendar_next)
			top: 31px
			right: 40px

		.widget__close
			position: absolute
			display: block
			+s(widget_close)				
			top: 10px
			right: 10px

		.dayofweek
			text-align: center
			margin-top: 10px

			li
				display: inline-block
				+OpenSansB
				font-size: 13px
				text-align: center					
				color: #000
				width: 34px
				height: 30px						

		.days
			text-align: center
			font-size: 14px

			li
				display: inline-block					
						
				a
					display: block
					width: 35px
					height: 24px
					padding-top: 6px
					color: #000
					text-align: center						

				.is-active
					background: #4d88bf
					border-radius: 4px
					color: #fff

				a:hover
					background: #d0e0ef
					border-radius: 4px

				.is-label, .is-label-white
					position: relative

				.is-label:after
					content: ' '
					+s(calendar_label)
					position: absolute
					bottom: 5px
					right: 5px

				.is-label-white:after
					content: ' '
					+s(calendar_label_white)
					position: absolute
					bottom: 5px
					right: 5px

				.is-othermonth
					color: #71727d

.widgets
	width: 295px
	position: absolute
	top: -90px
	right: 0px	
	border-radius: 4px
	background: #fff	

	.dark
		position: absolute
		top: 0px
		left: 0px
		height: 100%
		width: 100%
		background: #000
		z-index: 400
		display: none
		opacity: 0.6

	// Виджет "Заказ столика" //
	.widget__order
		display: block				

		.order__datetime
			padding: 17px 17px 0px 17px
			position: relative

			a
				display: inline-block
				border: 1px solid #999999
				+OpenSansL
				font-size: 14px
				color: #000				
				height: 23px
				padding-top: 3px				
				position: relative					

			.date
				width: 76px
				padding-left: 14px
				margin-right: 7px

			.date:after
				content: ' '
				+s(calendar)
				position: absolute
				top: 1px
				right: 2px

			.time
				width: 72px
				padding-left: 18px
				margin-right: 7px

			.time:after
				content: ' '
				+s(clock)
				position: absolute
				top: 5px
				right: 6px

			.count
				width: 38px
				padding-left: 16px

			.count:after
				content: ' '
				+s(count)
				position: absolute
				top: 6px
				right: 6px

			.count:hover + #counter_order
				display: block

			#counter_order
				display: none
				position: absolute
				top: 0px
				right: -30px

				a
					display: block
					border: none
					padding: 0px

				.counter__up		
					+s(counter_up)		

				.counter__up:hover
					+s(counter_up_hover)

				.counter__down
					+s(counter_down)		

				.counter__down:hover
					+s(counter_down_hover)

			#counter_order:hover
				display: block

		.order__button
			display: block
			background: #6c5cbd
			line-height: 42px
			+OpenSansSB
			font-size: 16px
			color: #fff
			text-align: center
			width: 259px
			margin-top: 20px
			margin-left: 18px

		.order__button:hover
			background: #564999

		.order__how
			+OpenSans
			font-size: 12px
			color: #4d4d4d
			margin-top: 10px
			text-align: center
		
		#clock
			width: 100%
			position: absolute
			top: 60px
			left: 0px
			z-index: 500
			display: none			

			.clock__inner
				background: #f5f5f5
				padding: 26px 0px 26px
				position: relative

				.clock__order
					+OpenSans
					font-size: 14px
					color: #000
					text-align: center
					margin-bottom: 10px

					.widget__close
						position: absolute
						display: block
						+s(widget_close)				
						top: 10px
						right: 10px

				.selecttime
					text-align: center

					li
						display: inline-block
						margin: 4px
						position: relative
						
						a
							display: block
							width: 65px
							height: 26px
							padding-top: 6px
							+OpenSans
							font-size: 14px
							color: #494949
							background: #dcdcdc
							border-radius: 4px							

						a:hover
							background: #c4c4c4
							border-radius: 4px

						.is-active
							background: #6e6e6e
							color: #fff

						.clock__prev
							position: relative
						
						.clock__prev:before
							content: ' '
							position: absolute
							+s(clock_prev)
							top: 8px
							left: 27px

						.clock__next
							position: relative
						
						.clock__next:before
							content: ' '
							position: absolute
							+s(clock_next)
							top: 8px
							right: 27px


	// Виджет "Карта" //
	.widget__map
		margin-left: 3px

	// Виджет "Депозит" //
	.widget__deposit
		display: block		
		margin: 0px 20px
		+OpenSans	
		height: 160px
		position: relative

		.deposit
			height: 25px
			overflow: hidden
			padding-top: 15px
			+OpenSans
			font-size: 13px
			color: #40566a		

			span			
				margin-left: 59px
				position: relative
				color: #40566a
				font-size: 16px
				border-bottom: 1px dashed #40566a

			span:before
				content: ' '
				+s(deposit)
				position: absolute
				top: -3px
				left: -43px

			.hint
				padding: 15px 15px 20px

		.deposit:hover
			cursor: pointer
			height: 180px
			background: #d4dde5
			border-radius: 15px		
			position: absolute
			z-index: 500
			
		p
			margin-top: 25px
			padding-left: 68px
			padding-bottom: 24px
			border-bottom: 1px solid #cccccc	
			+OpenSans
			font-size: 14px
			position: absolute
			top: 40px		

		p:before
			content: ' '
			+s(top30)
			position: absolute
			top: 0px
			left: 0px

	.widget__top30
		display: block
		text-align: center
		padding: 0 10px
		margin: 0px 20px 30px	
		+OpenSans
		font-size: 14px

		p
			padding: 5px 0 22px
			border-bottom: 1px solid #cccccc	

	.widget__reservnow
		display: block
		padding: 30px 40px 24px
		text-align: center
		background: #f3f3f3		
		
		.reservnow
			+OpenSansB
			font-size: 16px
			color: #000
			padding-top: 4px
			margin-bottom: 20px

		p
			+OpenSans
			font-size: 14px		

	// Виджет "Нет свободных мест" //
	.widget__busy
		display: block
		background: #f3f3f3
		text-align: center
		padding-top: 18px
		padding-right: 18px
		padding-left: 18px		
		position: relative

		.busy
			+OpenSansB
			font-size: 16px
			color: #000
			padding-top: 4px
			margin-bottom: 20px			

		p
			+OpenSans
			font-size: 14px

		img
			margin-top: 25px

		.cycle-slideshow
			height: 120px

		
		.nobusy
			width: 100%			
			
			.nobusy__name
				margin-top: 10px
				+OpenSans
				font-size: 16px
				margin-bottom: 5px

			.nobusy__info
				+OpenSansL
				font-size: 14px

		#next_place
			z-index: 500
			+s(nobusy_next)		
			display: block
			position: absolute
			bottom: 65px
			right: 30px

		#prev_place
			z-index: 500
			+s(nobusy_prev)
			display: block
			position: absolute
			bottom: 65px
			left: 30px
		

	// Виджет "Общие сведения" //
	.widget__about
		display: block
		+OpenSans
		font-size: 14px
		padding: 30px 0px 20px 65px		

		div		
			margin-bottom: 23px
			position: relative

		.check:before
			position: absolute
			content: ' '
			+s(check)
			top: -3px
			left: -38px

		.worktoday:before
			position: absolute
			content: ' '
			+s(worktoday)
			top: -1px
			left: -38px

		.point:before
			position: absolute
			content: ' '
			+s(point)
			top: -1px
			left: -38px

		.usphone:before
			position: absolute
			content: ' '
			+s(usphone)
			top: 0px
			left: -38px

// Виджет заказ столика
.outwidgets
	width: 100%	
	background: rgba(0, 0, 0, 0.7)

	.alert-close
		+s(close_white)
		display: block
		position: absolute
		top: 10px
		right: 10px

	.alert-close:hover
		+s(close_dark)

	.alert
		width: 300px
		margin: 0 auto
		background: #0a0a0a
		position: relative
		text-align: center
		padding: 20px 30px

		.alert__leaving, .alert__error
			+OpenSansSB
			font-size: 30px
			color: #858585
			margin-top: 7px

		p
			+OpenSansL
			font-size: 14px
			color: #858585
			margin-top: 6px
			margin-bottom: 38px

		.alert__aim			
			+OpenSansL
			font-size: 16px
			color: #fff
			border-bottom: 1px dashed #545454
			line-height: 34px

		a:hover
			border-bottom: none
			color: #ccc

		.alert__phone
			+OpenSansL
			font-size: 14px
			color: #858585
			margin-top: 43px
			margin-bottom: 3px

		.alert__thankyou 
			+OpenSansSB
			color: #fff
			font-size: 30px			
			margin-top: 4px

		.alert__white
			+OpenSansL
			color: #fff
			font-size: 14px
			margin-top: 10px

		.ok
			margin-top: 35px
			margin-bottom: 10px

			a
				background: #8a8a8a
				padding: 11px 40px				
				+OpenSansSB
				font-size: 16px
				color: #fff

			a:hover
				background: #6a6a6a

	.alert-small
		width: 280px
		padding: 20px 20px

	.container
		width: 728px
		margin: 0 auto

.ordertable			
	display: table-row

	.ordertable__leftcol, .ordertable__rightcol
		display: table-cell
		vertical-align: top		

	.ordertable__leftcol
		width: 236px
		background: #e7e7e7	
		text-align: center		
		position: relative
		
		.ordertable__info
			position: relative
			padding-top: 100px			

			.name
				+OpenSansSB
				font-size: 18px
				color: #000

			.address
				+OpenSans
				font-size: 14px
				color: #828282
				margin-top: 6px

		.ordertable__info:before
			content: ' '
			+s(widget_plate)
			position: absolute
			top: 30px
			left: 90px

		.ordertable__metadata			
			width: 100%
			color: #818181
			+OpenSans
			font-size: 14px
			position: absolute
			bottom: 32px

			.howitsmade
				font-size: 12px
				margin-top: 2px
				border-bottom: 1px solid #cdcdcd
				color: #818181

			.howitsmade:hover
				border-bottom: none
				color: #616161

		.ordertable__special, .ordertable__veranda
			+OpenSans			
			font-size: 16px			
			padding-top: 77px
			position: relative

			a
				border-bottom: 1px dashed #959595
				color: #000

			a:hover
				border-bottom: none
				color: #323232

		.ordertable__special
			display: block

			a:before
				content: ' '
				+s(finger)
				position: absolute
				top: 44px
				left: 108px
		
		.ordertable__veranda
			display: block

			a:before
				content: ' '
				+s(fly)
				position: absolute
				top: 35px
				left: 104px

		.ordertable__top30
			margin-top: 35px
			padding-left: 56px
			position: relative
			+OpenSans
			font-size: 14px
			display: block

		.ordertable__top30:before
			content: ' '
			+s(top30)
			position: absolute			
			left: 28px
			top: -10px

		.ordertable__bonus
			+OpenSans
			color: #000
			margin: 25px 21px 0px
			padding: 23px 10px
			background: #fff
			border-radius: 7px
			display: block

			span
				font-size: 18px

			p
				font-size: 14px
				margin-top: 13px

	.ordertable__rightcol		
		width: 422px		
		padding: 21px 31px 28px 36px		
		background: #fff
		position: relative
		margin-left: -3px

		.caption
			border-bottom: 1px dashed #cccccc
			color: #5d5d5d
			+OpenSansSB
			font-size: 18px
			padding-bottom: 16px
	
		.close
			+s(widget_close_b)
			position: absolute
			top: 30px
			right: 40px

		.close:hover
			+s(widget_close_b_hover)

		.order
			margin-top: 22px

			.date
				position: relative
				width: 256px
				height: 36px
				border: 1px solid #c4c4c4
				border-radius: 4px
				float: left
				margin-bottom: 14px

				.date__selected
					padding-left: 16px					
					position: relative					
					color: #000
					+OpenSans
					font-size: 14px				
					width: 196px					
					line-height: 36px										

				.date__selected:after
					content: ' '
					+s(arrow_date)
					position: absolute
					top: 8px
					right: -25px

				.icon-calendar
					position: relative					
					display: inline-block
					float: right
					width: 44px
					height: 37px
					border-left: 1px solid #c4c4c4

				.icon-calendar:after
					content: ' '
					+s(calendar_b)
					position: absolute
					top: 8px
					right: 13px					

				.icon-calendar:hover				
					background: #d2d2d2

				.icon-calendar:hover + .calendar
					display: block					

				.calendar
					width: 273px
					top: 37px
					left: -8px

					.calendar__inner
						padding: 10px 0px 10px

						.calendar__prev
							left: 30px
							top: 16px

						.calendar__next
							right: 30px
							top: 16px

				.calendar:hover
					display: block

			.count
				text-align: center				
				+OpenSans
				font-size: 14px				
				width: 85px
				padding-right: 30px
				height: 36px
				line-height: 36px
				border: 1px solid #c4c4c4
				border-radius: 4px
				position: relative
				float: right				

				.widget-counter
					position: absolute
					top: 0px
					right: 0px

			.selecttime
				clear: both
				margin-left: -2px

				li
					display: inline-block
					margin-left: 2px
					margin-top: 5px
					position: relative
					text-align: center
						
					a
						display: block
						width: 56px
						height: 22px
						padding-top: 6px
						+OpenSans
						font-size: 12px
						color: #494949
						background: #f1f1f1
						border-radius: 4px
						line-height: normal

					a:hover
						background: #c4c4c4
						border-radius: 4px

					.is-active
						background: #606060
						color: #fff

					.clock__prev
						position: relative
						
					.clock__prev:before
						content: ' '
						position: absolute
						+s(clock_prev)
						top: 7px
						left: 22px
						opacity: 0.4

					.clock__next
						position: relative
						
					.clock__next:before
						content: ' '
						position: absolute
						+s(clock_next)
						top: 7px
						right: 22px
						opacity: 0.4

			.guest
				margin-top: 22px
				position: relative

				.field-item
					position: relative
					font-size: 0px

					input
						border: 1px solid #c4c4c4
						border-radius: 4px					
						margin-bottom: 14px				
						color: #8f8f8f
						+OpenSans
						font-size: 14px						
						width: 187px						
						padding: 9px 35px 9px 38px						

					label
						position: relative
						cursor: text						

					label:before
						content: ''
						border: none					
						position: absolute
						top: -2px
						left: -250px						

					.labelname:before
						+s(men)

					.labelphone:before
						+s(phone_small)	

					.labelsmskey:before
						+s(sms-key)

				.border-red input
					border: 1px solid #d06057

				textarea
					border: 1px solid #c4c4c4
					border-radius: 4px
					width: 360px					
					height: 56px					
					resize: none
					+OpenSans
					color: #8f8f8f
					font-size: 14px
					padding: 10px 45px 11px 15px
					overflow: hidden
				
				.icon-list
					+s(list)
					position: absolute
					bottom: 56px
					right: 12px

				.icon-list:hover + .wish
					display: block

				.field-item-ok

					.input-ok
						+s(input-ok)
						position: absolute
						top: 12px
						left: 233px

					.labelname:before
						+s(men_dark)

					.labelphone:before
						+s(phone_small_dark)

					input, textarea
						color: #000

				.loader
					+s(loader)
					position: absolute
					top: 8px
					left: 230px

				.wish
					position: absolute
					bottom: 69px
					right: 2px
					text-align: right
					background: #f5f5f5
					border-radius: 8px
					box-shadow: 0px -1px 2px #e9e9e9
					padding-top: 20px
					width: 288px
					display: none
					z-index: 200

					span
						+OpenSansSB
						font-size: 16px
						color: #000
						padding-right: 16px

					ul
						margin-top: 7px
						margin-bottom: 7px

						li

							a
								+OpenSansL
								font-size: 14px
								color: #000
								display: block
								padding: 5px 16px 5px 0px

							a:hover, .is-active
								background: #e5e5e5

				.wish:hover
					display: block

				.confirm
					padding: 9px 25px
					background: #d06057
					color: #fff
					+OpenSansSB
					font-size: 14px
					position: absolute
					top: 52px
					right: 0px

				.confirm:hover, .entersmscode:hover
					background: #a64d46

				.entersmscode
					padding: 9px 32px
					background: #d06057
					color: #fff
					+OpenSansSB
					font-size: 14px
					position: absolute
					top: 52px
					right: 0px

				.getsmscode
					padding: 9px 23px
					background: #e1e1e1
					color: #fff
					+OpenSansSB
					font-size: 14px
					position: absolute
					top: 52px
					right: 0px

				.getsmscode:hover
					background: #c3c3c3

				.wesendcode
					+OpenSansSB
					font-size: 12px
					color: #000
					margin: 4px 0px 19px
					padding-left: 46px
					position: relative

				.wesendcode:before
					content: ' '
					position: absolute
					+s(envelope)
					top: 5px
					left: 0px					

			.oferta
				width: 222px
				+OpenSans
				font-size: 12px
				color: #8f8f8f
				margin-top: 28px
				float: left

				a
					color: #8f8f8f
					text-decoration: underline

			.reservation
				float: right
				padding: 11px 25px
				background: #56905a
				color: #fff
				+OpenSansSB
				font-size: 16px
				margin-top: 24px

			.reservation:hover
				background: #3e6d41			

			.order__check
				+OpenSans
				font-size: 14px				
				position: relative				
				padding: 3px 0px 25px 57px
				border-bottom: 1px dashed #cccccc

				.order__edit
					+s(pencil)
					display: inline-block
					position: absolute
					right: 10px

				.order__edit:hover
					+s(pencil_hover)

			.order__check:before
				content: ''
				+s(check_b)
				position: absolute
				top: 0px
				left: 0px

		.agreement
			padding-top: 30px
			+OpenSans
			border-bottom: 1px dashed #cccccc
			padding-bottom: 60px

			.agreement__item			
				margin-top: 28px

				.item
					font-size: 16px
					color: #000

				.item__description
					font-size: 14px
					color: #5e5e5e
					margin-top: 16px

				.agreement__order
					margin-top: 16px

					span
						display: inline-block
						text-align: center
						border: 1px solid #999999
						height: 28px
						line-height: 28px						
						position: relative
						font-size: 14px
						margin-right: 8px

					span:after
						content: ' '
						position: absolute						

					.agreement__date
						width: 60px
						padding-right: 28px

					.agreement__date:after
						+s(calendar)
						top: 2px
						right: 7px						

					.agreement__time
						width: 66px
						padding-right: 22px

					.agreement__time:after
						+s(clock)
						top: 6px
						right: 9px

					.agreement__count
						width: 28px
						padding-right: 22px

					.agreement__count:after
						+s(count)
						top: 7px
						right: 8px				

		.agreement__close
			float: right
			padding: 11px 45px
			background: #56905a
			color: #fff
			+OpenSansSB
			font-size: 16px
			margin-top: 24px

		.agreement__close:hover
			background: #3e6d41		

		.details
			border-bottom: 1px dashed #cccccc
			margin-top: 30px
			padding-bottom: 10px
			padding-left: 55px
			position: relative
			+OpenSans
			font-size: 14px
			color: #000

			p
				margin-bottom: 15px

			.good
				+OpenSansSB
				font-size: 18px
				color: #000
				margin-bottom: 15px

		.details:before
			content: ' '
			+s(check_b)
			position: absolute
			top: -5px
			left: 0px

		.saveonmail
			+OpenSans
			margin-top: 22px

			.saveonmail__caption
				font-size: 18px

			.mail
				margin-top: 20px
				margin-bottom: 45px
				vertical-align: middle

				.youemail
					font-size: 14px
					float: left
					margin-top: 10px

				input
					border: 1px solid #c4c4c4
					border-radius: 4px					
					color: #8f8f8f			
					font-size: 14px
					padding-left: 10px
					padding-right: 10px
					width: 160px					
					padding-top: 8px
					padding-bottom: 9px
					line-height: normal
					margin-left: 20px
					margin-right: 10px					

				.sendtomail
					float: right
					padding: 7px 27px 8px
					background: #d06057
					color: #fff
					+OpenSansSB
					font-size: 14px

				.sendtomail:hover
					background: #a64d46

		.tablebusy
			clear: both
			padding-left: 60px
			margin-top: 95px
			padding-bottom: 35px
			+OpenSans
			font-size: 14px
			color: #8d8d8d
			position: relative
			border-bottom: 1px dashed #c4c4c4

		.tablebusy:before
			content: ' '
			+s(lightning)
			position: absolute
			top: 0px
			left: 0px

		.recommended
			text-align: center
			+OpenSans

			p
				font-size: 16px
				margin-top: 24px
				margin-bottom: 21px
				color: #000

				span
					+OpenSansSB

			.recomended__rest
				width: 108px
				display: inline-block
				vertical-align: top
				margin-left: 9px
				margin-right: 9px

				a
					font-size: 14px
					color: #212022
					margin-top: 14px					

				a:hover
					text-decoration: underline

		.agreementoferta			
			border-bottom: 1px dashed #c4c4c4			

			.agreementoferta__container
				height: 325px
				color: #000
				margin-top: 20px
				overflow: auto
				padding-right: 5px
				margin-bottom: 20px

				span
					+OpenSansSB
					font-size: 16px				

				p
					+OpenSans
					font-size: 14px
					color: #717171
					margin-top: 18px
					margin-bottom: 18px